---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

.category {
    .active a {
        padding-bottom: 6px;
        border-bottom: 2px solid #333e4c;
        font-weight: 700;
        color: #333e4c;
    }
}

.nav2 {
    .active a {
        padding-bottom: 6px;
        border-bottom: 2px solid #ffffff;
        font-weight: 700;
        color: #ffffff;
    }
}
.intro-animation {
    animation-name: moving;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    section.explanation h1.intro {
        font-family: "Source Sans Pro",sans-serif,"Source Sans Pro","APPLE SD Gothic Neo",HelveticaNeue,Helvetica,"NanumGothic","맑은 고딕","Malgun Gothic",arial,sans-serif;
        font-size: 38px;
        font-weight: bold;
        line-height: 1.17;
        margin: 0;
    }
    section.explanation h2.intro {
        font-size: 30px;
        font-weight: 400;
        font-family: "Source Sans Pro","APPLE SD Gothic Neo",HelveticaNeue,Helvetica,"NanumGothic","맑은 고딕","Malgun Gothic",arial,sans-serif;
        line-height: 1.4;
        word-wrap: normal;
        margin: 20px 0 0 0;
    }
}

.loading-animation {
    animation-name: moving;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;


}

.resume {
    .workplace {
        .workplace-name {
        font-family: "Source Sans Pro","APPLE SD Gothic Neo",HelveticaNeue,Helvetica,"NanumGothic","맑은 고딕","Malgun Gothic",arial,sans-serif;
        font-size: 20px;
        font-weight: 700;
        width: 42%;
        float: left;
        }
    }
    
}



