---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

.category {
    .active a {
        padding-bottom: 6px;
        border-bottom: 2px solid #333e4c;
        font-weight: 700;
        color: #333e4c;
    }
}

.nav2 {
    .active {
        padding-bottom: 6px;
        border-bottom: 2px solid #ffffff;
        font-weight: 700;
        color: #ffffff;
    }
}